html {
  font-size: 12px; }
  html body {
    padding: 0;
    margin: 0;
    font-family: "europa";
    font-weight: 100;
    color: #505050;
    overflow-x: hidden;
    background-color: #fff; }
  html *::selection {
    background: #DCE6CF; }

@media screen {
  html {
    background-color: #ddd; }
    html body {
      width: 724px;
      min-height: 100vh;
      height: 937px;
      padding: 50px 50px;
      margin: 0 auto; }
      html body section.container {
        position: relative;
        display: inline-block; } }
@media print {
  html body section.container {
    position: relative;
    display: inline-block; } }
@page {
  size: 8.5in 11in;
  /*size: 21.0cm 29.7cm */
  margin: 1.5cm 1.5cm; }
header.main-header {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  color: inherit;
  margin-bottom: 8px; }
  header.main-header .container {
    height: 62px; }
    header.main-header .container .name {
      position: relative;
      display: inline-block;
      font-family: "europa";
      font-size: 56px;
      line-height: 1.1em;
      font-weight: 700;
      float: left;
      text-align: left; }
      header.main-header .container .name a {
        color: inherit;
        text-decoration: none; }
    header.main-header .container .contact {
      display: inline-block;
      float: right;
      color: #55A82F;
      font-size: 12px;
      font-weight: 400;
      margin-top: 4px; }
      header.main-header .container .contact span {
        display: block;
        text-align: right; }

/* -------------- GLOBAL -------------- */
.hidden {
  display: none !important; }

section {
  margin: 4px 0 4px 0; }
  section a {
    text-decoration: none;
    color: #5B753D; }
  section ul.list {
    padding-left: 16px;
    margin: 4px auto 0 auto; }
    section ul.list .content {
      line-height: 15px;
      font-size: 12px;
      font-weight: 400; }
    section ul.list li {
      padding-bottom: 4px; }

.title {
  font-family: "Playfair Display";
  font-weight: 500; }

.col-left {
  width: 60%;
  float: left;
  margin-top: 8px; }

.col-left .resume-content {
  margin-right: 16px; }

.col-right {
  width: 40%;
  float: right; }

/* -------------- BODY -------------- */
article {
  margin-top: 4px; }

.section-header {
  margin-bottom: 0px;
  /*border-bottom: 1px solid #5B753D */
  display: inline-block; }
  .section-header .section-title {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 18px;
    color: #5B753D;
    min-height: 24px; }

#objective {
  width: 60%;
  float: left;
  font-weight: 400; }

#objective .content {
  margin: 8px 12px 0 0;
  padding: 8px 12px;
  border: 2px solid #999;
  line-height: 1.2em;
  font-size: 12px;
  text-align: justify; }

/*	width: 40%
 * float: right
 * margin-top: 8px*/
 * .summary ul 
 *
 *
 *
 * .summary li  */
/*	width: 60%
 * float: left*/
 * article.job 
 * 	display: block
 * 	position: relative
 * 	overflow: hidden
 * 	/*margin-top: 20px*/
 *
 *
 * 	.resume-content 
 * 		min-height: 100%
 * 		display: inline-block
 * 		position: relative
 *
 *
 * 	#experience .resume-content 
 * 		/*margin-right: 12px*/
 *
 * 		.subsection-header 
 *
 *
 *
 * 			#experience .subsection-title 
 * 				color: #4a4a4a
 * 				font-size: 14px
 *
 *
 * 			#experience .subsection-title::before 
 * 				content: " - "
 * 				font-size: 0.75em
 *
 *
 * 			#experience .subsection-company 
 * 				color: #4a4a4a
 * 				font-size: 14px
 * 				font-weight: 600
 *
 * 			#experience .subsection-company::before 
 * 				/*content: " at "*/
 * 				content: ''
 * 				font-size: 0.75em
 *
 *
 * 			.subsection-company a 
 * 				color: #4a4a4a
 * 				border-bottom: 1px solid #b3b3b3
 *
 *
 * 			.subsection-duration 
 *
 *
 * 			.subsection-duration, .subsection-location 
 * 				font-family: "Lato"
 * 				font-size: 10px
 * 				font-weight: 300
 * 				font-style: italic
 * 				float: right
 * 				position: relative
 * 				top: 0.5em
 * 				padding-right: 0.2em
 *
 * 			.subsection-location-before 
 * 				font-size: 0.75em
 *
 * 		.resume-list 
 * 			/*list-style-type: circle*/
 *
 *
 * 			.resume-content-divider 
 * 				font-size: 1.5em
 * 				line-height: 1.5em
 * 				margin-bottom: 0.5em
 * 				/*text-decoration: underline*/
 * 				font-style: italic
 * 				display: none
 *
 *
 * 			.resume-list .list-description 
 * 				font-family: "Proxima Nova"
 * 				font-size: 1em
 * 				padding-top: 2px */
/*	width: 40%
 * float: right*/
 *
 * #projects .resume-content 
 * 	width: 100%
 *
 * #projects .subsection-title 
 * 	color: #4a4a4a
 * 	font-size: 14px
 * 	font-weight: 600
 *
 * .project .content 
 * 	margin: 4px 0
 *
 *
 * ul.project-list 
 * 	/*padding-left: 0 */
#skills {
  position: relative;
  display: inline-block;
  margin-top: 4px; }

#skills.skills-fullwidth {
  width: 100%;
  float: left; }

#skills.skills-rightcol {
  width: 40%;
  float: right; }

#skills.skills-leftcol {
  width: 60%;
  float: left;
  background-image: url("../image_assets/apps/sketch.png");
  background-image: url("../image_assets/apps/photoshop.png");
  background-image: url("../image_assets/apps/illustrator.png");
  background-image: url("../image_assets/apps/indd.png");
  background-image: url("../image_assets/apps/balsamiq.png");
  background-image: url("../image_assets/apps/framer.png");
  background-image: url("../image_assets/apps/origami.png");
  background-image: url("../image_assets/apps/invision.png");
  background-image: url("../image_assets/apps/marvel.png");
  background-image: url("../image_assets/apps/html.png");
  background-image: url("../image_assets/apps/css.png");
  background-image: url("../image_assets/apps/jquery.png");
  background-image: url("../image_assets/apps/coffeescript.png");
  background-image: url("../image_assets/apps/arduino.png");
  background-image: url("../image_assets/apps/xcode.png");
  background-image: url("../image_assets/apps/php.png");
  background-image: url("../image_assets/apps/cpp.png");
  background-image: url("../image_assets/apps/java.png");
  background-image: url("../image_assets/apps/swift.png");
  background-image: url("../image_assets/apps/python.png");
  background-image: url("../image_assets/apps/matlab.png");
  background-image: url("../image_assets/apps/git.png");
  background-image: url("../image_assets/apps/bootstrap.png");
  background-image: url("../image_assets/apps/sass.png");
  background-image: url("../image_assets/apps/excel.png");
  background-image: url("../image_assets/apps/sql.png");
  background-image: url("../image_assets/apps/autocad.png");
  background-image: url("../image_assets/apps/inventor.png");
  background-image: url("../image_assets/apps/rhino.png");
  background-image: url("../image_assets/apps/c4d.png");
  background-image: url("../image_assets/apps/max.png");
  background-image: url("../image_assets/apps/ae.png");
  background-image: url("../image_assets/apps/premiere.png");
  background-image: url("../image_assets/apps/final_cut.png");
  background-image: url("../image_assets/apps/logic.png");
  background-image: url("../image_assets/apps/espresso.png");
  background-image: url("../image_assets/apps/sublime.png");
  background-image: url("../image_assets/apps/coda.png"); }
  #skills.skills-leftcol .skills-fullwidth .skills-list {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    /* Limit to one row */
    max-height: 72px;
    overflow: hidden; }
    #skills.skills-leftcol .skills-fullwidth .skills-list .skills-fullwidth .skills-list li {
      position: relative;
      width: 10%;
      float: left; }
  #skills.skills-leftcol .skills-leftcol .skills-list {
    display: block;
    position: relative;
    padding: 0;
    margin: 0 12px 0 0;
    list-style: none;
    /* Limit to two rows */
    max-height: 70px;
    overflow: hidden; }
  #skills.skills-leftcol .skills-leftcol .skills-list li {
    position: relative;
    width: 16.6%;
    float: left; }
    #skills.skills-leftcol .skills-leftcol .skills-list li .skills-leftcol .skills-list li .app-name {
      width: 100%; }
  #skills.skills-leftcol .skills-rightcol .skills-list {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    /* Limit to two rows */
    max-height: 144px;
    overflow: hidden; }
  #skills.skills-leftcol .skills-rightcol .skills-list li {
    position: relative;
    /*width: 15% */
    width: 25%;
    /*padding: 2px 5% 2px 5% */
    float: left; }
    #skills.skills-leftcol .skills-rightcol .skills-list li .skills-rightcol .skills-list li .app-name {
      width: 100%; }
  #skills.skills-leftcol .skills-list li .app-name {
    position: relative;
    margin: 0;
    padding-top: 2px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1em;
    min-height: 2em;
    text-align: center; }
  #skills.skills-leftcol .skills-list li .app-logo {
    position: relative;
    width: 64%;
    margin: 0 18%;
    padding-bottom: 64%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 0; }

#education {
  position: relative;
  display: inline-block; }

.edu-one-line * {
  display: inline; }

.edu-one-line .subsection-header, .edu-one-line .content {
  margin-left: 3px; }

.school {
  margin-bottom: 2px; }

.school .subsection-header {
  margin-bottom: 4px; }
  .school .subsection-header .subsection-school, .school .subsection-header .subsection-clubname {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 600; }
  .school .subsection-header .subsection-school a {
    color: #4a4a4a;
    border-bottom: 1px solid #b3b3b3; }
  .school .subsection-header .subsection-school:after {
    content: ", "; }
  .school .subsection-header .subsection-degree {
    color: #4a4a4a;
    font-size: 14px; }
  .school .subsection-header .subsection-degree#syde:before {
    content: "BASc. ";
    display: none; }
  .school .subsection-header .minor {
    display: inline;
    font-family: inherit;
    font-size: 1em;
    font-weight: lighter;
    /*font-style: italic */ }
  .school .subsection-header #education .resume-list {
    margin: 2px 0; }
  .school .subsection-header .course-title {
    font-weight: 700; }
  .school .subsection-header .course-code {
    font-family: "Playfair Display"; }
  .school .subsection-header .course-list li.course {
    width: 50%;
    float: left; }
  .school .subsection-header .course .list-description {
    margin-right: 24px; }
  .school .subsection-header ul.course-list.no-courses {
    display: none; }
  .school .subsection-header ul.course-list.titles-only {
    display: inline;
    list-style-type: none;
    padding-left: 4px; }
  .school .subsection-header ul.course-list.titles-only li.course {
    width: auto;
    float: initial;
    display: inline;
    padding-right: 2px; }
  .school .subsection-header ul.course-list.titles-only li.course:after {
    content: ", "; }
  .school .subsection-header ul.course-list.titles-only .course-title {
    font-weight: 500; }
  .school .subsection-header ul.course-list.titles-only .list-description {
    display: none; }

#education.edu-club-line {
  width: 50%;
  float: left; }

#clubs.edu-club-line {
  width: 50%;
  float: right; }

/*#clubs
 * width: 100% */
.club .resume-content {
  width: 100%;
  /*float: left */ }

.club .content, .club .subsection-header {
  margin-right: 12px; }

.club .content {
  padding-top: 2px; }

#clubs.col-right #waterboys .resume-content {
  padding-top: 3px; }

.clubs.full-width {
  width: 100%; }

.clubs.full-width .section-header {
  width: 100%; }

.clubs.full-width .club {
  width: 50%;
  float: right; }

.cover_letter_content, .sign-off {
  width: 80%;
  margin: 24px auto;
  font-family: "Playfair Display";
  color: #4a4a4a;
  line-height: 1.5em;
  font-size: 14px;
  font-weight: 400; }

.sign-off {
  padding-top: 2em;
  padding-left: 4em; }

/*# sourceMappingURL=resume-style.css.map */
