html {
	background-color: #ffffff;
}
body {
	background-color: #e9eaed;
	border: 1px solid #dddddd;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 13px;
	margin: 0px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.container {
	padding: 15px;
	color: #fff;
}

h1 {
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
}
h1 .small {
	font-weight: 200;
	letter-spacing: 1px;
}

h2 {
	font-size: 18px;
	font-weight: 200;
	line-height: 45px;
	margin: 0;

}

.left {
	float: left;
	width: 50%;
}

.right {
	float: right;
	width: 50%;
}


.pocket.outer {
	background: #373c58; /* Old browsers */
	background: -moz-linear-gradient(top, #373c58 0%, #252c4a 49%, #161a2d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom,-stop(0%,#373c58),-stop(49%,#252c4a),-stop(100%,#161a2d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #373c58 0%,#252c4a 49%,#161a2d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #373c58 0%,#252c4a 49%,#161a2d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #373c58 0%,#252c4a 49%,#161a2d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #373c58 0%,#252c4a 49%,#161a2d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373c58', endColorstr='#161a2d',GradientType=0 ); /* IE6-9 */
}

.pocket.inner {
	background-image: url('anchors.png');
	text-align: center;
	padding: 10px 0 0;
	border-top: 45px solid rgba(255,255,255,0.2);
}

.contact {
	line-height: 30px;
}

.pocket.bottom {
	width: 0px;
	height: 0px;
	border-top: 68px solid transparent;
	border-left: 168px solid #e9eaed;
	border-right: 168px solid #e9eaed;
}