html{
	font-size: 12px;
}

body {
	padding: 0; margin: 0;
	font-family: "Proxima Nova";
	font-weight: 100; color: #4a4a4a; overflow-x: hidden;
	background-color: #fff;
}

*::selection {
  background: #DCE6CF; /* WebKit/Blink Browsers */
}

@media screen {
	html {
		background-color: #ddd;
	}
	body {
		width: 724px;
		min-height: 100vh;
		height: 937px;
		padding: 50px 50px;
		margin: 0 auto;
	}
	section.container {
		position: relative;
		display: inline-block;
	}
}

@media print {
	section.container {
		position: relative;
		display: inline-block;
	}
	
	/* Add en extra blank page to put the watermark on. We get rid of this later in python */
	body:before {
		content: ' ';
		height: 11in;
		display: block;
	}
}

@page {
   size: 8.5in 11in;
   /*size: 21.0cm 29.7cm;*/
   margin: 1.5cm 1.5cm;
}

.hide {
	display: none;
}

/* -------------- HEADER -------------- */
.header, .sub-header{
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  color: inherit;
}

.main-header {
	margin-bottom: 8px;
}
.main-header .container {
	height: 62px;
}

.header .name {
	position: relative;
	display: inline-block;
	font-family: "Raleway";
	font-size: 56px;
	line-height: 1.1em;
	font-weight: 700;
	float: left;
	text-align: left;
}
.header a, .sub-header a{
  color: inherit;
  text-decoration: none;
  border: none;
}

.header .tagline {
	position: relative;
	display: inline-block;
	text-align: left;
	font-weight: 400;
	font-size: 16px;
/*	top: 15px;
	float: right;*/
	line-height: 20px;
	/*max-width: 164px;*/
}
.tagline em {
	color: #5B753D;
}

.header .contact {
	display: inline-block;
	float: right;
	color: #5B753D;
	font-size: 12px;
	font-weight: 400;
	margin-top: 4px;
	font-family: "Playfair Display";
}

.header .contact span {
	display: block;
	text-align: right;
	/*width: 33%;*/
}
/*.header .contact span:first-child {
	text-align: left;
	width: 30%;

}
.header .contact span:nth-child(2) {
	text-align: center;
	width: 39%;
}
.header .contact span:last-child {
	text-align: right;
	width: 30%;
	float: right;
}*/

/* -------------- GLOBAL -------------- */

section {
	margin: 4px 0 4px 0;
}

a {
	text-decoration: none;
	color: #4a4a4a;
	border-bottom: 1px solid #b3b3b3;
}

.hidden {
	display: none !important;
}

ul.list {
	padding-left: 16px;
	margin: 4px auto 0 auto;
}

ul.list, .content {
	line-height: 15px;
	font-size: 12px;
	font-weight: 400;
}

.list li {
	padding-bottom: 4px;
}

.title {
	font-family: "Playfair Display";
	font-weight: 500;
}

.col-left{
	width: 60%;
	float: left;
	margin-top: 8px;
}

.col-left .resume-content  {
	margin-right: 16px;
}
.col-right {
	width: 40%;
	float: right;
}

/* -------------- BODY -------------- */

article {
	margin-top: 4px;
}

.section-header {
	margin-bottom: 0px;
	/*border-bottom: 1px solid #5B753D;*/
	display: inline-block;
}
	.section-title {
		font-family: "Raleway";
		font-weight: 600;
		font-size: 18px;
		color: #5B753D;
		min-height: 24px;
	}

#objective {
	width: 60%;
	float: left;
	font-weight: 400;
}
#objective .content {
	margin: 8px 12px 0 0;
	padding: 8px 12px;
	border: 2px solid #999;
	line-height: 1.2em;
	font-size: 12px;
	text-align: justify;
}

#summary {
/*	width: 40%;
	float: right;
	margin-top: 8px;*/
}
	.summary ul {

	}

	.summary li {
		
	}

#experience {
/*	width: 60%;
	float: left;*/
}
	article.job {
		display: block;
		position: relative;
		overflow: hidden;
		/*margin-top: 20px;*/
	}

		.resume-content {
			min-height: 100%;
			display: inline-block;
			position: relative;
		}

		#experience .resume-content {
			/*margin-right: 12px;*/
		}
			.subsection-header {

			}

				#experience .subsection-title {
					color: #4a4a4a;
					font-size: 14px;
				}

				#experience .subsection-title::before {
					content: " - ";
					font-size: 0.75em;
				}

				#experience .subsection-company {
					color: #4a4a4a;
					font-size: 14px;
					font-weight: 600;
				}
				#experience .subsection-company:before {
					content: '';
					font-size: 0.75em;
				}

				.subsection-company a {
					color: #4a4a4a;
					border-bottom: 1px solid #b3b3b3;
				}

				.subsection-duration {

				}
				.subsection-duration, .subsection-location {
					font-family: "Lato";
					font-size: 10px;
					font-weight: 300;
					font-style: italic;
					float: right;
					position: relative;
					top: 0.5em;
					padding-right: 0.2em;
				}
				.subsection-location-before {
					font-size: 0.75em;
				}
			.resume-list {
				/*list-style-type: circle;*/
			}

				.resume-content-divider {
					font-size: 1.5em;
					line-height: 1.5em;
					margin-bottom: 0.5em;
					/*text-decoration: underline;*/
					font-style: italic;
					display: none;
				}

				.resume-list .list-description {
					font-family: "Proxima Nova";
					font-size: 1em;
					padding-top: 2px;
				}

#projects {
/*	width: 40%;
	float: right;*/

}
	#projects .resume-content {
		width: 100%;
	}
	#projects .subsection-title {
		color: #4a4a4a;
		font-size: 14px;
		font-weight: 600;
	}
	.project .content {
		margin: 4px 0;
	}

	ul.project-list {
		/*padding-left: 0;*/
	}


#skills {
	position: relative;
	display: inline-block;
	margin-top: 4px;
}
#skills.skills-fullwidth {
	width: 100%;
	/*float: left;*/
}
#skills.skills-rightcol {
	width: 40%;
	float: right;
}
#skills.skills-leftcol {
	width: 60%;
	float: left;
}


	.skills-fullwidth .skills-list {
		display: block;
		position: relative;
		padding: 0;
		margin: 0;
		list-style: none;
		/* Limit to one row */
		max-height: 72px; 
		overflow: hidden;
	}
		.skills-fullwidth .skills-list li {
			position: relative;
			width: 10%;
			float: left;
		}

	.skills-leftcol .skills-list {
		display: block;
		position: relative;
		padding: 0;
		margin: 0 12px 0 0;
		list-style: none;
		/* Limit to two rows */
		max-height: 70px; 
		overflow: hidden;
	}
	.skills-leftcol .skills-list li {
			position: relative;
			width: 16.6%;
			float: left;
		}
			.skills-leftcol .skills-list li .app-name {
				width: 100%;
			}

	.skills-rightcol .skills-list {
		display: block;
		position: relative;
		padding: 0;
		margin: 0;
		list-style: none;
		/* Limit to two rows */
		max-height: 144px; 
		overflow: hidden;
	}
	.skills-rightcol .skills-list li {
			position: relative;
			/*width: 15%;*/
			width: 25%;
			/*padding: 2px 5% 2px 5%;*/
			float: left;
		}
			.skills-rightcol .skills-list li .app-name {
				width: 100%;
			}

	.skills-list li .app-name {
		position: relative;
		margin: 0;
		padding-top: 2px;
		font-size: 12px;
		font-weight: 500;
		line-height: 1em;
		min-height: 2em;
		text-align: center;
	}
	.skills-list li .app-logo {
		position: relative;
		width: 64%;
		margin: 0 18%;
		padding-bottom: 64%;
		background-size: 100%;
		background-repeat: no-repeat;
		border-radius: 0;
	}
				/* APP ICONS 
				/* graphics */

	#sketch .app-logo {
	background-image: url('../image_assets/apps/sketch.png');}
	#photoshop .app-logo {
	background-image: url('../image_assets/apps/photoshop.png');}
	#illustrator .app-logo {
	background-image: url('../image_assets/apps/illustrator.png');}
	#indesign .app-logo {
	background-image: url('../image_assets/apps/indd.png');}
	#balsamiq .app-logo {
	background-image: url('../image_assets/apps/balsamiq.png');}
	#framer .app-logo {
	background-image: url('../image_assets/apps/framer.png');}
	#origami .app-logo {
	background-image: url('../image_assets/apps/origami.png');}
	#invision .app-logo {
	background-image: url('../image_assets/apps/invision.png');}
	#marvel .app-logo {
	background-image: url('../image_assets/apps/marvel.png');}
	#zeplin .app-logo {
	background-image: url('../image_assets/apps/zeplin.png');}

	/* Dev 1 */
	#html .app-logo {
	background-image: url('../image_assets/apps/html.png');}
	#css .app-logo {
	background-image: url('../image_assets/apps/css.png');}
	#jquery .app-logo {
	background-image: url('../image_assets/apps/jquery.png');}
	#coffeescript .app-logo {
	background-image: url('../image_assets/apps/coffeescript.png');}
	#react .app-logo {
	background-image: url('../image_assets/apps/react.png');}
	#javascript .app-logo {
	background-image: url('../image_assets/apps/js.png');}
	#arduino .app-logo {
	background-image: url('../image_assets/apps/arduino.png');}
	#xcode .app-logo {
	background-image: url('../image_assets/apps/xcode.png');}
	#php .app-logo {
	background-image: url('../image_assets/apps/php.png');}
	#cpp .app-logo {
	background-image: url('../image_assets/apps/cpp.png');}
	#java .app-logo {
	background-image: url('../image_assets/apps/java.png');}
	#swift .app-logo {
	background-image: url('../image_assets/apps/swift.png');}
	#python .app-logo {
	background-image: url('../image_assets/apps/python.png');}
	#matlab .app-logo {
	background-image: url('../image_assets/apps/matlab.png');}
	#git .app-logo {
	background-image: url('../image_assets/apps/git.png');}
	#bootstrap .app-logo {
	background-image: url('../image_assets/apps/bootstrap.png');}
	#sass .app-logo {
	background-image: url('../image_assets/apps/sass.png');}
	#excel .app-logo {
	background-image: url('../image_assets/apps/excel.png');}
	#sql .app-logo {
	background-image: url('../image_assets/apps/sql.png');}	

	/* 3d */
	#autocad .app-logo {
	background-image: url('../image_assets/apps/autocad.png');}
	#inventor .app-logo {
	background-image: url('../image_assets/apps/inventor.png');}
	#rhino .app-logo {
	background-image: url('../image_assets/apps/rhino.png');}
	#fusion .app-logo {
	background-image: url('../image_assets/apps/fusion.png');}
	#makerbot .app-logo {
	background-image: url('../image_assets/apps/makerbot.png');}

	/* video */
	#cinema4d .app-logo {
	background-image: url('../image_assets/apps/c4d.png');}
	#max .app-logo {
	background-image: url('../image_assets/apps/max.png');}
	#aftereffects .app-logo {
	background-image: url('../image_assets/apps/aftereffects.png');}
	#premiere .app-logo {
	background-image: url('../image_assets/apps/premiere.png');}
	#finalcut .app-logo {
	background-image: url('../image_assets/apps/finalcut.png');}
	#logic .app-logo {
	background-image: url('../image_assets/apps/logic.png');}


	/* Other */
	#espresso .app-logo {
	background-image: url('../image_assets/apps/espresso.png');}
	#sublime .app-logo {
	background-image: url('../image_assets/apps/sublime.png');}
	#coda .app-logo {
	background-image: url('../image_assets/apps/coda.png');}


#education {
	position: relative;
	display: inline-block;
}

#education.full-width .section-header {
	display: block;
}

#education.full-width .school *{
	display: inline-block;
}

#education.full-width .content 
{
	margin-left: 4px;
}

#education.full-width.oneline * {
	display: inline;
}
#education.full-width.oneline .subsection-header {\
	margin-left: 4px;
}
.school {
	margin-bottom: 2px;
}
.school .subsection-header{
	margin-bottom: 4px;
}
	.subsection-school, .subsection-clubname {
		color: #4a4a4a;
		font-size: 14px;
		font-weight: 600;
	}
	.subsection-school a {
		color: #4a4a4a;
		border-bottom: 1px solid #b3b3b3;
	}
	.subsection-school:after {
		content: ", "
	}
	.subsection-degree {
		color: #4a4a4a;
		font-size: 14px;
	}
	.subsection-degree#syde:before {
		content: "BASc. ";
		display: none;
	}
	.minor {
		display: inline;
		font-family: inherit;
		font-size: 1em;
		font-weight: lighter;
		/*font-style: italic;*/
	}
	#education .resume-list {
		margin: 2px 0;
	}
	.course-title {
		font-weight: 700;
	}
	.course-code {
		font-family: "Playfair Display";
	}
	.course-list li.course {
		width: 50%;
		float: left;
	}
	.course .list-description {
		margin-right: 24px;
	}

	ul.course-list.no-courses {
		display: none;
	}

	ul.course-list.titles-only {
		display: inline;
		list-style-type: none;
		padding-left: 4px;
	}
	ul.course-list.titles-only li.course {
		width: auto;
		float: initial;
		display: inline;
		padding-right: 2px;
	}
	ul.course-list.titles-only li.course:after {
		content: ", ";
	}
	ul.course-list.titles-only .course-title{
		font-weight: 500;
	}
	ul.course-list.titles-only .list-description {
		display: none;
	}

/*#clubs {
	width: 100%;
}*/
.club .resume-content {
	width: 100%;
	/*float: left;*/
}
.club .content, .club .subsection-header {
	/*margin-right: 12px;*/
}
.club .content{
	padding-top: 2px;
}

#clubs.col-right #waterboys .resume-content{
	padding-top: 3px;
}

.clubs.full-width {
	width: 100%;
}

.clubs.full-width .section-header{
	width: 100%;
}
.clubs.full-width .club {
	width: 50%;
	float: left;
}

.clubs.full-width article:first-of-type .subsection-header,
.clubs.full-width article:first-of-type .content 
{
	margin-right: 12px;
}

/* ---------- COVER LETTER ---------- */
.cover_letter_content, .sign-off {
	width: 80%;
	margin: 24px auto;
	font-family: "Playfair Display";
	color: #4a4a4a;
	line-height: 1.5em;
	font-size: 14px;
	font-weight: 400;
}

.cover_letter_content {
	margin-bottom: 0;
}

.sign-off {
	margin-top: 0;
	padding-top: 48px;
	padding-left: 48px;
	background-image: url("../image_assets/signature.png");
	background-position: 48px 0;
	background-size: 144px;
	background-repeat: no-repeat;
}