* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	letter-spacing: 0.05em;
	color: #3a3a3a;
}

.text-highlight {
	color: #4487ed;
}

b {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	color: #4487ed;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}

.container {
	width: 700px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.top {
	height: 85px;
	background: #4487ed;
}

.header {
	text-align: center;
}

.header > .container {
	border-bottom: 2px solid #e0e0e0;
}

.who p {
	font-size: 14px;
	line-height: 16px;
}

.who h3 {
	border: 4px solid rgb(68, 135, 237);
	color: rgb(68, 135, 237);
	margin: 5px -15px;
	padding: 7px 11px;
}

.contact {
}

.contact > .container {
	border-bottom: 2px solid #e0e0e0;
	padding: 11px 15px;
}

.contact > .container > div {
	text-align: center;
}

.contact > .container > div.center {
	position: absolute;
	left: 0;
	right: 0;
}

.contact b {
	color: #3a3a3a;
	text-align: center;
}

.contact p {
	color: #4487ed;
	font-size: 13px;
	margin: 0;
}

.jumbotron {
	border-bottom: 1px solid #e0e0e0;
}

.col5 {
	width: 20%;
	float: left;
	padding: 0 15px;
	position: relative;
	text-align: center;
}

.col23, .col13 {
	float: left;
	padding: 0 15px;
	position: relative;
}
.col23 {
	width: 66.666667%;
}
.col13 {
	width: 33.333333%;
}

.col2 p,
.col5 p {
	font-size: 10px;
	line-height: 12px;
	color: #9b9b9b;
	width: 100%;
	margin: 10px 0;
	padding: 8px 0;
	border-top: 1px solid #e0e0e0;
}

.main {
	border-top: 2px solid #4487ed;
}

.col2 {
	width: 50%;
	float: left;
	padding: 0 15px;
	position: relative;
}

.col2 p {
	border-top: none;
	padding-top: 0;
}

.date {
	width: 70px;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	float: left;
	padding: 30px 5px;
	color: #6a6a6a;
	font-family: 'Lobster', cursive;
	font-weight: 400;
}

.date-right {
	margin-left: 70px;
}

h1 {
	font-family: 'Lobster', cursive;
	font-weight: 400;
	height: 24px;
	line-height: 24px;
	font-size: 36px;
	margin-top: 27px;
	margin-bottom: 10px;
}

h2.subtitle {
	font-size: 19px;
	line-height: 14px;
	height: 14px;
	margin: 0;
	text-transform: none;
	font-weight: 400;
	margin-bottom: 15px;
}

h3 {
	font-family: 'Lobster', cursive;
	font-weight: 400;
	font-size: 28px;
	margin: 20px 0;
}